
body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f9;
  margin: 0;
  padding: 0;
}

.player-manager {
  max-width: 90%; 
  margin: 20px auto;
  padding: 20px;
  background: #fff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
  text-align: center;
  color: #333;
}

.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

input, select {
  margin: 10px 0;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 80%;
  max-width: 300px;
  min-width: 70px;
}

.buttons, .modal-buttons {
  display: flex;
  justify-content: space-between;
  width: 80%;
  max-width: 300px;
  margin-top: 10px;
}

button {
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 14px;
}

.add-button, .update-button {
  background-color: #28a745;
  color: white;
}

.cancel-button {
  background-color: #dc3545;
  color: white;
}

.edit-button {
  background-color: #007bff;
  color: white;
  margin-right: 5px;
}

.delete-button {
  background-color: #dc3545;
  color: white;
}

.error-message {
  color: red;
  margin-top: 10px;
}

.players-list {
  margin-top: 20px;
}

.players-list ul {
  list-style: none;
  padding: 0;
}

.players-list li {
  background: #f9f9f9;
  margin: 10px 0;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.player-buttons button {
  margin-left: 5px;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-content {
  background-color: white;
  padding: 20px;
  border-radius: 5px;
  text-align: center;
  width: 90%; 
  max-width: 300px;
}
.checkbox-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 80%;
    max-width: 365px;
    min-width: 70px;
}

/* Responsive styles */
@media (max-width: 576px) {
  .buttons, .modal-buttons {
    width: 100%;
    max-width: 100%;
  }

  input, select {
    width: 100%;
    max-width: 100%;
  }

  .players-list li {
    flex-direction: column;
    text-align: center;
  }

  .add-button, .update-button, .cancel-button, .edit-button, .delete-button {
    width: 100%;
    margin-top: 10px;
  }
  .default-owner-checkbox {
    margin-right: 0.5rem;
  }
  
  .default-owner-text {
    font-weight: bold;
  }
  
  /* Styles for the team name select dropdown */
  .team-name-select {
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 1rem;
  }
  
}
