.selected-team-container {
  display: flex;
  height: 100vh;
}

.teams-container {
  width: 30%;
  padding: 10px;
  border-right: 1px solid #ccc;
}

.bidding-area {
  width: 30%;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-right: 1px solid #ccc;
}

.grades-container {
  width: 40%;
  padding: 10px;
  display: grid;
  grid-template-columns: 1fr 1fr; /* Two columns */
  gap: 10px; /* Gap between cards */
}

.team,
.grade-section {
  margin-bottom: 20px;
}

.budget {
  display: flex;
  justify-content: space-between;
}

.budget p {
  margin: 0;
}

table {
  width: 100%;
  border-collapse: collapse;
}

table th,
table td {
  padding: 5px;
  text-align: left;
}

table th {
  background-color: #f2f2f2;
}

li {
  cursor: pointer;
}

li:hover {
  text-decoration: underline;
}

.error-popup {
  background-color: red;
  color: white;
  padding: 10px;
  margin: 10px 0;
}

/* New styles for grade sections to display as cards */
.grade-section {
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 10px;
}

.grade-section h3 {
  margin-top: 0;
}

.grade-section ul {
  list-style: none;
  padding: 0;
}

.grade-section li {
  padding: 5px;
  border-bottom: 1px solid #ddd;
}

.grade-section li:last-child {
  border-bottom: none;
}

.reset {
  display: flex;
  gap: 10px;
}

.input-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.input-group label {
  margin-bottom: 5px;
}

.input-group select {
  width: fit-content;
}
